@charset "UTF-8";
/* ! ------------------------fonts-------------------- */
@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular.woff2") format("woff2"), url("../fonts/Formular.woff") format("woff"), url("../fonts/Formular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular-Bold.woff2") format("woff2"), url("../fonts/Formular-Bold.woff") format("woff"), url("../fonts/Formular-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* ! -------------------reset-styles------------------ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* ! ------------------------body-------------------- */
html,
body {
  min-width: 320px;
  font-weight: 400;
  font-style: normal;
  font-family: "Formular", "Arial", "Helvetica", sans-serif;
  color: #253640;
}

body.lock {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* ! ----------------------- MAIN ------------------------ */
.wrapper {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.burger {
  display: none;
}

._scroll {
  transform: translateY(20%);
  opacity: 0;
  transition: all 0.8s ease;
}
._scroll._active {
  transform: translateY(0);
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #f5f5f5;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-shrink: 0;
  max-width: 250px;
  margin-right: 100px;
}
.header__logo img {
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.header__list {
  display: flex;
}
.header__item a {
  transition: all 0.3s ease;
}
.header__item a:hover {
  transition: all 0.3s ease;
  color: #0069E5;
}
.header__item:nth-child(n+2) {
  margin-left: 50px;
}
.header__phone {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.header__phone::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  width: 36px;
  height: 36px;
  background-image: url("../img/phone.svg");
  background-size: contain;
}
.header__phone-link {
  font-size: 14px;
  transition: all 0.3s ease;
}
.header__phone-link:hover {
  transition: all 0.3s ease;
  color: #0069E5;
}
.header__call {
  font-size: 13px;
  margin-top: 5px;
  transition: all 0.3s ease;
}
.header__call:hover {
  transition: all 0.3s ease;
  color: #0069E5;
}

.mobile-show {
  display: none;
}

.button {
  position: relative;
  overflow: hidden;
}

.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 200px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 100%);
  position: absolute;
  left: -120px;
  top: -50px;
  z-index: 1;
  transform: rotate(45deg);
  animation-name: slideme;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}
.face {
  background-color: #f5f5f5;
}
.face__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.face__content {
  padding: 40px 0;
}
.face__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: 18px;
  letter-spacing: 1px;
}
.face__subtitle {
  font-size: 20px;
  color: #253640;
  margin-bottom: 70px;
}
.face__subtitle p:nth-child(n+2) {
  margin-top: 7px;
}
.face__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 50px;
}
.face__description::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 55px;
  height: 2px;
  background-color: #d5d5d5;
}
.face__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 60px;
  background-color: #006B8F;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.face__button:hover {
  transition: all 0.3s ease;
  background-color: #0069E5;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.438);
}
.face__image {
  position: relative;
  right: -3.63%;
  width: 78%;
}
.face__image img {
  width: 100%;
}

.quality {
  margin-top: 90px;
  padding-bottom: 70px;
}
.quality__wrapper {
  position: relative;
}
.quality__title {
  margin-bottom: 80px;
}
.quality__list {
  display: flex;
  flex-wrap: wrap;
}
.quality__item {
  display: flex;
  align-items: center;
  width: 21%;
  margin-right: 18.5%;
}
.quality__item:nth-child(3) {
  margin-right: 0;
}
.quality__item:nth-child(n+4) {
  margin-top: 100px;
}
.quality__image {
  margin-right: 20px;
}
.quality__text {
  font-size: 18px;
}
.quality__button {
  position: absolute;
  bottom: 0;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2c400;
  font-size: 18px;
  border-radius: 4px;
  min-width: 292px;
  height: 48px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.quality__button:hover {
  transition: all 0.3s ease;
  background-color: #fcda17;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.tools {
  padding: 70px 0 20px 0;
}
.tools__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools__content:nth-child(2) {
  margin-top: 80px;
}
.tools__content:nth-child(n+3) {
  margin-top: 100px;
}
.tools__text {
  flex-shrink: 0;
}
.tools__text_max-width {
  max-width: 463px;
}
.tools__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.17;
}
.tools__list {
  font-size: 18px;
}
.tools__item:nth-child(n+2) {
  margin-top: 20px;
}
.tools__item::before {
  content: "—";
  margin-right: 7px;
}
.tools__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.tools__image:nth-child(n+2) {
  margin-left: 30px;
}
.tools__image:first-child {
  margin-right: 50px;
}
.tools__image img {
  width: 100%;
  border-radius: 15px;
}
.tools__image_box-shadow {
  box-shadow: 0 -10px 85px -45px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.cost {
  padding: 90px 0 80px 0;
  background-color: #f5f5f5;
}
.cost__wrapper {
  display: flex;
  justify-content: space-between;
}
.cost__container:first-child {
  margin-right: 65px;
}
.cost__container:last-child {
  max-width: 430px;
}
.cost__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.48;
  margin-bottom: 25px;
}
.cost__text {
  font-size: 18px;
}
.cost__description {
  font-size: 20px;
  margin-top: 60px;
  max-width: 490px;
}
.cost__item {
  display: flex;
}
.cost__item:nth-child(n+2) {
  margin-top: 35px;
}
.cost__image {
  background-color: #cce1e9;
  border-radius: 20px;
  width: 65px;
  height: 65px;
  padding: 18px;
  margin-right: 45px;
}

.onewindow {
  padding: 60px 0;
}
.onewindow__wrapper {
  text-align: center;
}
.onewindow__title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 25px;
}
.onewindow__description {
  display: block;
  max-width: 1040px;
  margin: 0 auto 40px auto;
  font-size: 18px;
}
.onewindow__image {
  max-width: 1240px;
  width: 100%;
}
.onewindow__image img {
  width: 100%;
}

.profit {
  padding: 60px 0;
}
.profit__wrapper {
  display: flex;
}
.profit__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}
.profit__title {
  margin-bottom: 32px;
  line-height: 1.15;
}
.profit__description {
  font-size: 18px;
}
.profit__button {
  margin: 40px auto 15px auto;
}
.profit__sign {
  display: block;
  text-align: center;
  font-size: 13px;
}
.profit__video {
  max-width: 670px;
}
.profit__video video {
  width: 100%;
}

.clients {
  padding: 60px 0;
  background-color: #f5f5f5;
}
.clients__title {
  text-align: center;
  max-width: 940px;
  margin: 0 auto 40px auto;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__item {
  max-width: 136px;
  max-height: 49px;
}
.clients__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cases {
  padding: 100px 0;
}
.cases__title {
  font-size: 52px;
  text-align: center;
  margin-bottom: 40px;
}
.cases__cards {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 30.48%;
  padding: 48px 44px;
  background-color: #f5f5f5;
  border-radius: 12px;
}
.card__logo {
  width: 100%;
  max-width: 290px;
  max-height: 52px;
}
.card__logo img {
  width: 100%;
  height: 100%;
  max-height: 52px;
  object-fit: contain;
}
.card__description {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.card__percent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  max-width: 60%;
  padding: 20px 32px;
  margin: 40px auto 25px auto;
  color: #0069E5;
  border-radius: 45.5px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(209, 209, 209, 0.5), inset 0px 0px 12px rgba(0, 160, 227, 0.15);
}
.card__result {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.feedback {
  padding: 0 15px;
}
.feedback__wrapper {
  padding: 45px 90px;
  border-radius: 10px;
  box-shadow: 0px 12px 34px rgba(65, 62, 101, 0.1);
  background-color: #fff;
}
.feedback__title {
  max-width: 750px;
  margin-left: 45px;
  margin-bottom: 40px;
}
.feedback__next {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  cursor: pointer;
}
.feedback__prev {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  transform: rotate(180deg);
  cursor: pointer;
}

.slider {
  position: relative;
}
.slider__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 45px;
}
.slider__container:nth-child(2n+1) {
  border-right: 1px solid #F6F6F6;
}
.slider__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.slider__text {
  margin-bottom: 30px;
}
.slider__footer {
  max-width: 115px;
  display: flex;
  align-items: center;
  margin-top: auto;
}
.slider__footer img {
  width: 100%;
  margin-right: 20px;
}
.slider__site {
  flex-shrink: 0;
  font-size: 13px;
}

.footer {
  margin-top: 90px;
  padding: 30px 0;
  background-color: #006b8f;
  color: #fff;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__container:first-child {
  margin-right: 50px;
  flex-grow: 1;
}
.footer__container:last-child {
  max-width: 500px;
}
.footer__subtitle {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 18px;
}
.footer__subtitle span {
  font-weight: 700;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.footer__button:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.438);
}

.form__input {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  border-radius: 6px;
  border: 0;
  background: #197a9a;
  color: #fff;
  margin-bottom: 13px;
  height: 48px;
  font-size: 16px;
  font-family: inherit;
}
.form__input:focus {
  outline: none;
}
.form__input::placeholder {
  color: inherit;
}

.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 42px 15px;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s ease 0s;
  color: #fff;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: translateY(0);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  position: relative;
  background-color: #006B8F;
  transition: all 1s ease 0s;
  opacity: 0;
  padding: 43px;
  border-radius: 10px;
  width: 100%;
  max-width: 560px;
  transform: perspective(600px) translateY(-200%) rotateX(45deg);
}
.popup__content::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 217px;
  height: 217px;
  border-radius: 100%;
  background: linear-gradient(147.31deg, rgba(255, 255, 255, 0.17) 45.74%, rgba(230, 230, 230, 0) 86.05%);
  opacity: 0.2;
  top: 27px;
  left: 27px;
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-color: unset;
  background-image: url("../img/form-x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.popup__close:focus {
  outline: none;
}
.popup__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
.popup__form {
  display: flex;
  flex-direction: column;
}
.popup__input {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  border-radius: 6px;
  border: 0;
  background: #197a9a;
  color: #fff;
  box-shadow: none !important;
  margin-bottom: 13px;
  height: 48px;
  width: 100%;
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
}
.popup__input::placeholder {
  color: inherit;
  font-size: 16px;
}
.popup__input:focus {
  outline: none;
  border: 1px solid #2742d6;
}
.popup__tel {
  margin-top: 20px;
}
.popup__email {
  margin-top: 20px;
}
.popup__button {
  margin: 20px auto 0 auto;
  width: 100%;
  max-width: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.popup__button:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.438);
}

@media (max-width: 1120px) {
  .face__item:nth-child(n+2) {
    margin-left: 10px;
  }

  .title {
    font-size: 25px;
  }
}
@media (max-width: 1040px) {
  .burger {
    position: relative;
    display: block;
    width: 70px;
    height: 60px;
    z-index: 15;
    cursor: pointer;
    margin-left: 30px;
  }
  .burger__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 10;
  }
  .burger__icon span {
    position: absolute;
    background-color: #006B8F;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.5s ease 0s;
  }
  .burger__icon::after, .burger__icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #006B8F;
    transition: all 0.5s ease 0s;
  }
  .burger__icon::after {
    bottom: 0;
  }
  .burger__icon::before {
    top: 0;
  }
  .burger__icon.active span {
    transform: scale(0);
  }
  .burger__icon.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger__icon.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__wrapper {
    justify-content: space-between;
  }
  .header__container {
    flex-grow: 0;
  }
  .header__menu {
    position: fixed;
    top: 90px;
    right: -600px;
    height: 100vh;
    max-width: 320px;
    width: 100%;
    background-color: #f5f5f5;
    overflow: auto;
    padding: 50px;
    font-size: 26px;
    box-shadow: -20px 30px 25px rgba(0, 0, 0, 0.356);
    transition: all 0.5s ease;
  }
  .header__menu.active {
    right: 0;
  }
  .header__list {
    flex-direction: column;
  }
  .header__item:nth-child(n+2) {
    margin-left: 0;
    margin-top: 20px;
  }

  .quality__item {
    display: flex;
    align-items: center;
    width: 17%;
    margin-right: 19.5%;
  }

  .cost__image {
    margin-right: 10px;
  }

  .feedback__wrapper {
    padding: 45px;
  }
}
@media (max-width: 900px) {
  .mobile-hide {
    display: none;
  }

  .face__image {
    display: none;
  }
  .face__item {
    font-size: 16px;
  }

  .quality {
    padding-bottom: 50px;
  }
  .quality__title {
    margin-bottom: 40px;
  }
  .quality__list {
    justify-content: space-between;
  }
  .quality__item {
    width: 47%;
    margin-right: 3%;
  }
  .quality__item:nth-child(n+3) {
    margin-top: 40px;
  }

  .tools__content:nth-child(2) {
    margin-top: 50px;
  }
  .tools__content:nth-child(3) {
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .tools__content:nth-child(4) {
    flex-direction: column;
    margin-top: 40px;
  }
  .tools__image:first-child, .tools__image:last-child {
    margin: 30px 0 0 0;
  }
  .tools__text_max-width {
    max-width: 100%;
  }

  .cost {
    padding: 40px 0;
  }
  .cost__container:first-child {
    margin: 0;
  }
  .cost__container:last-child {
    margin-top: 50px;
    align-self: center;
    max-width: 100%;
  }
  .cost__wrapper {
    flex-direction: column;
  }

  .onewindow {
    padding: 60px 0;
  }

  .profit {
    padding: 60px 0;
  }

  .clients {
    padding: 60px 0;
  }
  .clients__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__item {
    margin-right: 50px;
    margin-bottom: 30px;
  }

  .cases {
    padding: 60px 0;
  }
  .cases__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cases__card {
    width: 48%;
  }
  .cases__card:first-child {
    margin-right: 4%;
  }
  .cases__card:last-child {
    margin-top: 4%;
  }

  .slider__container:nth-child(2n+1) {
    border: none;
  }

  .footer__image {
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .header__logo {
    max-width: 200px;
  }

  .title {
    font-size: 22px;
  }

  .face__content {
    padding: 0 0 40px 0;
  }
  .face__title {
    text-align: center;
    font-size: 36px;
  }
  .face__item {
    font-size: 13px;
  }
  .face__button {
    margin: 0 auto;
  }

  .quality__button {
    min-width: 245px;
  }

  .tools__content:nth-child(2) {
    flex-direction: column;
  }
  .tools__image:nth-child(n+2) {
    margin-top: 20px;
    margin-left: 0;
  }

  .onewindow__title {
    font-size: 38px;
  }

  .profit {
    padding: 10px 0;
  }
  .profit__button {
    margin-top: 30px;
  }
  .profit__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .header__logo {
    margin-right: 0;
  }
  .header__phone {
    display: none;
    margin-top: 100px;
  }
  .header__phone::before {
    display: none;
  }
  .header__phone-link {
    font-size: 20px;
  }
  .header__call {
    margin-top: 30px;
    font-size: 18px;
  }
  .header__menu {
    max-width: 100%;
  }
  .header__list {
    align-items: center;
  }

  .burger {
    margin-left: 0;
  }

  .title {
    text-align: center;
  }

  .face__subtitle {
    text-align: center;
    margin-bottom: 40px;
  }
  .face__description {
    flex-direction: column;
    align-items: center;
  }
  .face__description::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .face__item {
    text-align: center;
  }
  .face__item:nth-child(n+2) {
    margin: 20px 0 0 0;
  }
  .face__button {
    width: 290px;
  }

  .quality__item {
    width: 100%;
    margin-right: 0;
  }
  .quality__item:nth-child(n+2) {
    margin-top: 40px;
  }
  .quality__button {
    position: relative;
    right: 0;
    margin-top: 30px;
  }

  .tools {
    padding: 50px 0;
  }

  .onewindow__title {
    font-size: 28px;
  }

  .clients__item {
    max-width: 100%;
    margin-right: 0;
  }

  .cases__card {
    width: 100%;
  }
  .cases__card:first-child {
    margin: 0;
  }
  .cases__card:nth-child(n+2) {
    margin-top: 4%;
  }

  .feedback__wrapper {
    padding: 30px 10px;
  }
  .feedback__title {
    margin-left: 0;
  }

  .slider__footer {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }
  .slider__footer img {
    max-width: 150px;
  }
  .slider__site {
    width: 100%;
    margin-top: 10px;
  }

  .footer__container:first-child {
    margin-right: 0;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__subtitle {
    text-align: center;
  }

  .mobile-show {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .popup__content {
    padding: 43px 20px;
  }
  .popup__title {
    margin-bottom: 25px;
    font-size: 20px;
  }
  .popup__input {
    margin-bottom: 0;
  }
}