/* ! ------------------------fonts-------------------- */

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-Light.woff2') format('woff2'), url('../fonts/Formular-Light.woff') format('woff'), url('../fonts/Formular-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular.woff2') format('woff2'), url('../fonts/Formular.woff') format('woff'), url('../fonts/Formular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: local('../fonts/Formular Medium'), local('../fonts/Formular-Medium'), url('../fonts/Formular-Medium.woff2') format('woff2'), url('../fonts/Formular-Medium.woff') format('woff'), url('../fonts/Formular-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-Bold.woff2') format('woff2'), url('../fonts/Formular-Bold.woff') format('woff'), url('../fonts/Formular-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* ! -------------------reset-styles------------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


/* ! ------------------------body-------------------- */

html,
body {
    min-width: 320px;
    font-weight: 400;
    font-style: normal;
    font-family: "Formular", "Arial", "Helvetica", sans-serif;
    color: #253640;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body.lock {
    overflow: hidden;
}


/* ! ----------------------- MAIN ------------------------ */

.wrapper {
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background-color: #f5f5f5;
    z-index: 10;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: flex;
        flex-shrink: 0;
        max-width: 250px;
        margin-right: 50px;
        & img {
            width: 100%;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }
    &__menu {}
    &__list {
        display: flex;
    }
    &__item {
        &:nth-child(n+2) {
            margin-left: 50px;
        }
    }
    &__phone {
        position: relative;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -46px;
            width: 36px;
            height: 36px;
            background-image: url('../img/phone.svg');
            background-size: contain;
        }
    }
    &__phone-link {
        font-size: 14px;
    }
    &__call {
        font-size: 13px;
        margin-top: 5px;
    }
}

.face {
    background-color: #f5f5f5;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 90px;
    }
    &__content {
        padding: 40px 0;
    }
    &__title {
        font-size: 45px;
        font-weight: 700;
        line-height: 1.22;
        margin-bottom: 18px;
        color: #000;
    }
    &__subtitle {
        font-size: 20px;
        color: #253640;
        margin-bottom: 70px;
        & p:nth-child(n+2) {
            margin-top: 7px;
        }
    }
    &__description {
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 14px;
        line-height: 1.57;
        margin-bottom: 50px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            left: 0;
            width: 55px;
            height: 2px;
            background-color: #d5d5d5;
        }
    }
    &__item {}
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 60px;
        background-color: #006B8F;
        color: #fff;
        border-radius: 4px;
    }
    &__image {
        position: relative;
        right: -3.63%;
        width: 78%;
        & img {
            width: 100%;
        }
    }
}

.quality {
    margin-top: 60px;
    padding-bottom: 70px;
    &__wrapper {
        position: relative;
    }
    &__title {
        margin-bottom: 80px;
    }
    &__content {}
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: center;
        width: 21%;
        margin-right: 18.5%;
        &:nth-child(3) {
            margin-right: 0;
        }
        &:nth-child(n+4) {
            margin-top: 100px;
        }
    }
    &__image {
        margin-right: 20px;
    }
    &__text {
        font-size: 18px;
    }
    &__button {
        position: absolute;
        bottom: 0;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2c400;
        font-size: 18px;
        border-radius: 4px;
        min-width: 292px;
        height: 48px;
        font-weight: 500;
    }
}

.tools {
    padding: 50px 0;
    &__wrapper {}
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }
    &__text {
        flex-shrink: 0;
        &_max-width {
            max-width: 463px;
        }
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px;
        line-height: 1.17;
    }
    &__list {
        font-size: 18px;
    }
    &__item {
        &:nth-child(n+2) {
            margin-top: 25px;
        }
        &::before {
            content: '—';
            margin-right: 7px;
        }
    }
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        &:nth-child(n+2) {
            margin-left: 30px;
        }
        &:first-child {
            margin-right: 50px;
        }
        & img {
            width: 100%;
        }
        &_box-shadow {
            box-shadow: 0 -10px 85px -45px rgb(0 0 0 / 50%);
            border-radius: 15px;
        }
    }
}

.cost {
    padding: 90px 0 80px 0;
    background-color: #f5f5f5;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__container {
        &:first-child {
            margin-right: 65px;
        }
        &:last-child {
            max-width: 430px;
        }
    }
    &__title {
        font-size: 27px;
        font-weight: 700;
        line-height: 1.48;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 18px;
    }
    &__description {
        font-size: 20px;
        margin-top: 60px;
        max-width: 490px;
    }
    &__list {}
    &__item {
        display: flex;
        &:nth-child(n+2) {
            margin-top: 35px;
        }
    }
    &__image {
        background-color: #cce1e9;
        border-radius: 20px;
        width: 65px;
        height: 65px;
        padding: 18px;
        margin-right: 45px;
    }
}

.onewindow {
    padding: 60px 0;
    &__wrapper {
        text-align: center;
    }
    &__title {
        font-size: 52px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    &__description {
        display: block;
        max-width: 1040px;
        margin: 0 auto 40px auto;
        font-size: 18px;
    }
    &__image {
        max-width: 1240px;
        width: 100%;
        & img {
            width: 100%;
        }
    }
}

.wrapper {}